/*Mobile Ansicht*/
#searchbox {
  text-align:center;
}

#search-box {
  margin-top:3vh;
  width:85vw;
  height:5vh;
  border:none;
  border-radius:3px;
}

#search-box, #search-box:hover, #search-box:active {
  outline:none;
}

#searchresults {
  width:85vw;
}

.search-result {
  width:85%;
  position:absolute;
  margin-left:-7.5%;
  margin-top:-0.526vh;
  font-size:14px;
  font-weight:400;
  overflow:hidden;
}

.search-result li {
  border-bottom:1px solid gray;
  border-left:1px solid gray;
  border-right:1px solid gray;
  height:6vh;
  line-height:6vh;
  padding:1vw;
  background-color:white;
  cursor:pointer;
  list-style-type:none;
}

.search-result li:first-child {
  border-top:1px solid gray;
}

.search-result li:last-child {
  border-radius:0px 0px 3px 3px;
}

.search-result li a {
  color:#888;
  display:block;
  text-decoration:none;
}

/*Desktopansicht*/
@media only screen and (min-width: 768px) {

#search-box {
  margin-top:0;
  width:17.969vw;
  height:3.508vh;
}

#search-box:hover {
  background-color:#ecf0f1;
  cursor:pointer;
}

#searchresults {
  margin-left:35.5%;
}

.search-result {
  width:18.4vw;
  position:absolute;
  margin-left:0;
  margin-top:-0.526vh;
  font-size:1.25vw;
  font-weight:400;
  overflow:hidden;
}

.search-result li {
  height:2.807vh;
  line-height:2.807vh;
  padding:0.391vw;
}

.search-result li:hover {
  background-color:#ecf0f1;
}

.search-result li a:hover {
  color:black;
}
.search-result li a:active {
  color:black;
}

}
